<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main class="container">
		<div class="jumbotron">
				<h1>HiAssistant</h1>
		</div>
		<% if(user != undefined) { %>

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
						<p>
								<strong>id</strong>: <%= user._id %><br>
								<strong>email</strong>: <%= user.local.email %><br>
								<strong>password</strong>: <%= user.local.password %>
						</p>
			</div>
		</div>
		<% } %>


		<div class="results">
			<% include ../partials/form %>
		</div>
	</main>

	<footer>
			<% include ../partials/footer %>
	</footer>
</body>
</html>
