<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
<!--this is messy but works. refactor ?-->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>"></script>
<script>
var userLat = <%= userLat %>
var userLng = <%= userLng %>
function initialize() {
  var mapProp = {
    center: {lat: userLat, lng: userLng},
    zoom:8,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("map"), mapProp);

  var marker = new google.maps.Marker({
    position: {lat: userLat, lng: userLng},
    map: map
  });
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

	<header>
		<% include ../partials/header %>
	</header>
  <div class="container">

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="filter">
          <li><a class="dropdown-item" href="/api">Action</a></li>
          <li><a class="dropdown-item" href="/api">Another action</a></li>
          <li><a class="dropdown-item" href="/api">Something else here</a></li>
        </ul>
      </div>
    </div>

    <p><%= results %></p>
    <a href="http://www.housecanary.com" target="_blank" style="font-family: Avenir, Lucida Sans, Verdana, Arial, Helvetica, sans-serif !important; font-size: 14px !important; line-height: 1 !important; color: #3c555c !important; letter-spacing: 0px !important; text-align: left !important; text-decoration: none !important; font-weight: normal !important;">Powered by <img src="https://s3-us-west-2.amazonaws.com/hc-pro-images/app/housecanary-attribution_logo%402x-1.png" alt="HouseCanary" title="HouseCanary" style="display: inline-block !important; width: 127px !important; height: 19px !important; margin-left: 6px !important;"></a>
    <div id="map" style="width:500px;height:380px;"></div>
  
  </div>

	<footer>
			<% include ../partials/footer %>
  </footer>
</body>
</html>
